@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb{
      background: #F4F2DE;
      border-radius: 5px;
      
  }
  ::-webkit-scrollbar-track{
        background: #092635;
  }

.heading{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    color: #092635 ;
}